@import url(https://fonts.googleapis.com/css?family=Onest:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Onest,sans-serif;
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Onest,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #12161c
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 115rem;
  margin: 0 auto
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  line-height: 1.1;
  letter-spacing: -.125rem
}
.title--margin:not(:last-child) {
  margin-bottom: 4.375rem
}
.title--blue:not(:last-child),
.title--red:not(:last-child) {
  margin-bottom: 1.25rem
}
.title--red {
  color: #ff4a4a
}
.title--blue {
  color: #377de5
}
.text--bg-blue {
  background: #0862cc;
  background: linear-gradient(93deg,#0862cc 0,#192437 60%,#18212f 100%)
}
.text--margin:not(:last-child) {
  margin-bottom: .9375rem
}
.content {
  background: #c40c10;
  background: linear-gradient(92deg,#c40c10 0,#1e222f 60%,#192230 100%)
}
.content--bg-blue {
  background: #0862cc;
  background: linear-gradient(93deg,#0862cc 0,#192437 60%,#18212f 100%)
}
.header:not(:last-child) {
  margin-bottom: 2.5rem
}
.header__container {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  background: #0862cc;
  background: linear-gradient(93deg,#0862cc 0,#192437 60%,#18212f 100%)
}
.header__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4.75rem
}
.header__logo {
  padding-top: 2.8125rem;
  max-width: 10rem
}
.header__image {
  max-width: 58.75rem
}
.header__image img {
  aspect-ratio: 940/800;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}
.page__info:not(:last-child) {
  margin-bottom: 2.5rem
}
.info-blog__container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17.5rem,1fr));
  gap: 2.5rem
}
@media (min-width:20.99875em) {
  .header .title span br {
    display: none
  }
}
@media (min-width:47.99875em) {
  .header__body {
    flex: 1 1 34%
  }
  .header .title {
    max-width: 40.625rem
  }
  .header__image {
    flex: 1 1 51%;
    position: relative
  }
  .header__image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--width);
    height: var(--height);
    background: #12161c;
    -webkit-clip-path: polygon(100% 0,0 100%,100% 100%);
    clip-path: polygon(100% 0,0 100%,100% 100%)
  }
}
@media (min-width:47.99875em) and (min-width:115em) {
  .header__image::after {
    --width: 23rem
  }
  .header__image::after {
    --height: 23rem
  }
}
@media (min-width:115em) {
  .title {
    font-size: 4.9375rem
  }
  .header__body {
    padding-left: 3.75rem
  }
  .header__logo {
    padding-top: 2.8125rem
  }
}
@media (max-width:48em) {
  .title {
    font-size: 2.25rem
  }
  .header__logo {
    padding-top: .9375rem
  }
}
@media (max-width:20em) {
  .header__body {
    padding-left: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .header__container {
    flex-direction: column-reverse
  }
}
@media (min-width:48em) and (max-width:115em) {
  @supports (font-size:clamp(2.25rem ,0.3246268657rem + 4.0111940299vw ,4.9375rem)) {
    .title {
      font-size: clamp(2.25rem ,.3246268657rem + 4.0111940299vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,0.3246268657rem + 4.0111940299vw ,4.9375rem)) {
    .title {
      font-size: calc(2.25rem + 2.6875 * (100vw - 48rem)/ 67)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,-0.4057835821rem + 2.7985074627vw ,2.8125rem)) {
    .header__logo {
      padding-top: clamp(.9375rem ,-.4057835821rem + 2.7985074627vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,-0.4057835821rem + 2.7985074627vw ,2.8125rem)) {
    .header__logo {
      padding-top: calc(.9375rem + 1.875 * (100vw - 48rem)/ 67)
    }
  }
}
@media (min-width:20em) and (max-width:115em) {
  @supports (padding-left:clamp(1.25rem ,0.7236842105rem + 2.6315789474vw ,3.75rem)) {
    .header__body {
      padding-left: clamp(1.25rem ,.7236842105rem + 2.6315789474vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7236842105rem + 2.6315789474vw ,3.75rem)) {
    .header__body {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 95)
    }
  }
}
@media (min-width:47.99875em) and (min-width:48em) and (max-width:115em) {
  @supports (--width:clamp(0.0000000625rem ,-16.477611833rem + 34.3283581157vw ,23rem)) {
    .header__image::after {
      --width: clamp( 0.0000000625rem , -16.477611833rem  +  34.3283581157vw , 23rem )
    }
  }
  @supports not (--width:clamp(0.0000000625rem ,-16.477611833rem + 34.3283581157vw ,23rem)) {
    .header__image::after {
      --width: calc(0.0000000625rem + 22.9999999375 * (100vw - 48rem) / 67)
    }
  }
  @supports (--height:clamp(0.0000000625rem ,-16.477611833rem + 34.3283581157vw ,23rem)) {
    .header__image::after {
      --height: clamp( 0.0000000625rem , -16.477611833rem  +  34.3283581157vw , 23rem )
    }
  }
  @supports not (--height:clamp(0.0000000625rem ,-16.477611833rem + 34.3283581157vw ,23rem)) {
    .header__image::after {
      --height: calc(0.0000000625rem + 22.9999999375 * (100vw - 48rem) / 67)
    }
  }
}
@media (min-width:47.99875em) and (max-width:48em) {
  .header__image::after {
    --width: 0.0000000625rem
  }
  .header__image::after {
    --height: 0.0000000625rem
  }
}